[Desktop Entry]
Type=Application
Name=GridLock
Comment=High-performance computing debugger
Exec=gridlock
Icon=gridlock
Categories=Development;Debugger;
Terminal=false